.password {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.recoverySection {
    width: 60%;
    margin: 60px auto 80px auto;
}

.password h1 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 26px;
}

.password p {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
}

.password .underline1, .password .underline {
    width: 60%
}

.password .background3 {
    width: 100%;
}

.password ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.password .listContainer {
    margin-top: 40px;
    width: 110%;
}

.password li {
    width: 40%;
    line-height: 2.5em;
}

.password .primarySection {
    padding: 30px 0;
}