.phone {
    position: absolute;
    top: 175px;
    width: 700px;
    box-shadow: 0 8px 24px rgba(0,0,0,.2);
}


.background2 {
    width: 750px;
    margin-top: 60px;
    background-color: grey;
    height: 485px;
    z-index: -1;
    position: absolute;
}

.background3 {
    width: 100%;
    height: 700px;
    background-color: #3b668e;
    z-index: -2;
    position: absolute;
    margin-top: 510px;
}

.background4 {
    width: 100%;
    height: 550px;
    background-color: white;
    z-index: -2;
    position: absolute;
    margin-top: 1210px;
}

.background5 {
    width: 100%;
    height: 550px;
    background-color: #3b668e;
    z-index: -2;
    position: absolute;
    margin-top: 1760px;
}

.homeText {
    width: 50%;
    margin-top: 4em;
    position: absolute;
    right: 0;
    font-size: 20px;
    font-weight: 300;
}

.homeText > h2 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    margin-top: 40px;
}

.homeText > h2:hover {
    cursor: pointer;
}

.line {
    width: 15%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    border-top: 1px solid black;
}