.homeHero {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.phoneWrap {
    margin-bottom: -240px;
    position: relative;
    width: 50%;
}

.phoneWrap:before {
    background-color: gray;
    content: "";
    height: 100%;
    left: 0;
    max-width: 750px; /* max-width of <img> + 50px offset */
    position: absolute;
    top: -50px;
    width: calc(100% + 50px);
}

.phone {
    width: 100%;
    max-width: 700px;
    height: auto;
    box-shadow: 12px 12px 48px rgba(0,0,0,.35);
    z-index: 1;
    display: block; /* Removes the default bottom "margin" that <img> tags have */
    position: relative; /* Pops the z-index to be above the absolute positioned .phoneWrap:before pseudo-element */
}

.homeText {
    width: 50%;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.homeText > h2 {
    cursor: pointer;
    font-weight: 300;
}

.line {
    width: 15%;
    margin: 40px auto;
    border-top: 1px solid black;
}

.belowImageOffset {
    padding-top: 240px; /* 120px for default padding and another 120px for the offset image */
}
