.homeHero {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.phoneWrap {
    margin-bottom: -240px;
    position: relative;
    width: 50%;
}

.phoneWrap:before {
    background-color: gray;
    content: "";
    height: 100%;
    left: 0;
    max-width: 750px; /* max-width of <img> + 50px offset */
    position: absolute;
    top: -50px;
    width: calc(100% + 50px);
    border-radius: 3px;
}

.phone {
    width: 100%;
    max-width: 700px;
    height: auto;
    box-shadow: 12px 12px 48px rgba(0,0,0,.35);
    z-index: 1;
    display: block; /* Removes the default bottom "margin" that <img> tags have */
    position: relative; /* Pops the z-index to be above the absolute positioned .phoneWrap:before pseudo-element */
    border-radius: 3px;
}

.homeText {
    width: 50%;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.homeText > h2 {
    cursor: pointer;
    font-weight: 300;
}

.line {
    width: 15%;
    margin: 40px auto;
    border-top: 1px solid black;
}

.belowImageOffset {
    padding-top: 240px; /* 120px for default padding and another 120px for the offset image */
}

.container > * {
    padding: 24px 128px;
}

.underline {
    width: 30%;
    border-bottom: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.underline1 {
    width: 30%;
    border-bottom: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.secondarySection {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 0px;
}

.secondarySection h3 {
    font-weight: 500;
}

ul, ol {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 12px;
    font-weight: 300;
    line-height: 1.5em;
}

.phoneWrap2 {
    position: relative;
}

.phoneWrap2:before {
    background-color: gray;
    content: "";
    height: 100%;
    left: 0;
    max-width: 173.66px; /* max-width of <img> + 50px offset */
    position: absolute;
    top: -20px;
    left: 20px;
    width: calc(100% + 50px);
    border-radius: 3px;
}

.navImg {
    width: 170.66px;
    height: auto;
    box-shadow: 12px 12px 48px rgba(0,0,0,.35);
    border-radius: 3px;
    z-index: 1;
    display: block; /* Removes the default bottom "margin" that <img> tags have */
    position: relative; /* Pops the z-index to be above the absolute positioned .phoneWrap:before pseudo-element */
}

.col-33 h3 {
    margin-top: 12px;
    width: 190.66px;
    font-size: 16px;
    font-weight: 600;
    color: #3b668e;
    text-align: center;
}
