.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    height: 65px;
    background-color: #3b668e;
    font-weight: 400;
    z-index: -2;
}

.logo {
    width: fit-content;
    padding-top: 14px;
    margin-left: 30px;
    font-weight: 600;
}

.logo:hover {
    cursor: pointer;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navBar > a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px 15px;
    font-size: 18px;
    background-color: #3b668e;
    z-index: 0;
}

.navBar a:hover {
    color: #000b11;
    transition: ease .2s;
}

.outline {
    border: 1px solid white;
    border-radius: 3px;
}

.outline:hover {
    border: 1px solid #000b11;
    transition: ease .2s;
}




