.top {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    height: 100px;
    background-color: #3b668e;
    font-weight: 400;
    z-index: 3;
}

.logo {
    width: fit-content;
    padding-top: 30px;
    margin-left: 30px;
    font-weight: 600;
}

.logo:hover {
    cursor: pointer;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navBar > a, .navBar p, .navBar .dropDown {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 26px 15px;
    font-size: 20px;
    background-color: #3b668e;
    z-index: 0;
}

.navBar > a:hover, .navBar p:hover, .navBar > .dropDown:hover {
    color: #000b11;
    transition: ease .2s;
    cursor: pointer;
}

.outline {
    border: 1px solid white;
    border-radius: 3px;
    pointer-events: none;
}

.clicked {
    pointer-events: all;
}

.dropDown > p {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 3;
}

#dropContainer {
    background-color: #3b668e;
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: column; 
    margin-top: 2px;
    margin-left: 20px;
    width: 200%;
    box-shadow: 6px 6px 20px rgba(0,0,0,.35);
}

#dropContainer * {
    margin: 0;
    padding: 25px 40px;
    color: white;
}

#dropContainer *:hover {
    background-color: #4f7da8;
}

.dropDown > div {
    margin: 0;
    padding: 0;
    position: relative;
    top: -36px;
}

.noOutline {
    border: 1px solid transparent;
}





