*, 
*:after, 
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Work Sans', sans-serif;
  text-decoration: none;
}

/* Global Styles */ 

/* Ensures a parent element with this class name stretches to the height of floated children */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.container h1 {
  font-size: 34px;
  font-weight: 500;
  text-align: center;
}

.container p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.7em;
}

.primarySection {
  padding: 120px 0;
}

.background2 {
  background-color: gray;
}

.background3 {
  background-color: #3b668e;
  color: white;
}

.background4 {
  background-color: white;
}

.float-left {
  float: left;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: -20px; */
  /* margin-right: -20px; */
}

.col-50 {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.col-33 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  padding-left: 20px;
  padding-right: 20px;
}

#bold {
  font-weight: 500;
}
